{
    "AWSEBDockerrunVersion": "1",
    "Image": {
        "Name": "aakashc137/tutor-backend:{{IMAGE_TAG}}",
        "Update": "true"
    },
    "Ports": [
        {
            "ContainerPort": "3000"
        }
    ]
}